@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<html>
<head>
    <title>Cadastro de Pessoas</title>
    <link href="~/Content/primeiroCSS.css" rel="stylesheet" />
    <script src="~/Scripts/funcoes.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</head>
<body>
    <div>
        <label>valor 1</label> <input type="text" id="valor1" />
    </div>
    <div>
        <label>valor 2</label> <input type="text" id="valor2" />
    </div>

    @*<p id="paragrafo" style="color: red;"> Texto qualquer</p>
        <p id="paragrafo2" style="color: red;"> Texto qualquer2</p>*@
    <p id="resultado"></p>
    <p id="meutexto"> Vai mudar der cor</p>
    <button onclick="mostrarResultado()">somar</button>
    @*<button style="color: red; "onclick="alert('olá,mundo')";>BOTAO</button>*@
    @*<input  type="text" onblur="alert('onblur disparou')"/>*@
    
<div>
    <label>digite uma cor </label><input type="text" id="cor"/>
    <button onclick="mudarCor()">Mudar cor</button>
</div>
    <button onclick="">Mostrar valor da variavel nome</button>
    <div>
        <button onclick="alterarParagrafo('green', '20pt', 'Verde e tamanho 20', 'paragrafo')">Verde e tamanho 20</button>
        <button onclick="alterarParagrafo('blue', '20pt', 'azul e tamanho 15', 'paragrafo2')">Azul e tamanho 15</button>
    </div>
    <div>
        <button onclick="mostrarMarcasDeCarro()">Mostrar</button>
    </div>
    <div>
        <input type="text" id="nome"/>
        <p id="respostas"></p>
    </div>

    <div>
        <p>Parafrago 1</p>
        <p>Parafrago 2</p>
        <p>Parafrago 3</p>
        <p>Parafrago 4</p>
    </div>
</body>

</html>