@section scripts{
    <script src="~/Scripts/funcoes.js"></script>
}

<div class="container">
    <div class="box">
        <div class="label">
            <label>Valor 1 </label> <input type="text" id="valor1" />

        </div>
        <div class="label">
            <label>Valor 2 </label>
            <input type="text" id="valor2" />
        </div>
        <div class="label">
            <button onclick="mostrarResultado()" type="button" class="btn btn-success">Somar</button>
        </div>
        <hr>
        <p id="resultado"></p>
        <hr>
    </div>
</div>
<div class="text-success">
</div>

<hr class="border border-danger border-2 opacity-50">
<hr class="border border-primary border-3 opacity-75">
<div>
    <p id="meutexto"> Vai mudar der cor</p>
    <label>digite uma cor </label><input type="text" id="cor" />
    <button onclick="mudarCor()">Mudar cor</button>
</div>
<div>
    <button onclick="alterarParagrafo('green', '20pt', 'Verde e tamanho 20', 'paragrafo')">Verde e tamanho 20</button>
    <button onclick="alterarParagrafo('blue', '20pt', 'azul e tamanho 15', 'paragrafo2')">Azul e tamanho 15</button>
</div>
<div>
    <button onclick="mostrarMarcasDeCarro()">Mostrar</button>
</div>
<div>
    <input type="text" id="nome" />
    <p id="respostas"></p>
</div>

<div class="label">
    <p>Parafrago 1</p>
</div>
<hr class="border border-danger border-2 opacity-50">
<div class="label">
    <p>Parafrago 2</p>
</div>
<hr class="border border-primary border-3 opacity-75">
<div class="label">
    <p>Parafrago 3</p>
</div>
<hr class="border border-primary border-3 opacity-75">
<div class="label">
    <p>Parafrago 4</p>
</div>
<div id="vuejs">
    <p v-show="paragrafoVisivel">Paragrafo qualquer</p>
    <button v-on:click="paragrafoVisivel = !paragrafoVisivel" {{paragrafoVisivel ? 'Esconder':'Mostrar'}}></button>
    <script src="~/Scripts/vue.min.js"></script>
</div>
<p class="h2">Listagem</p>
<div id="cadastroPessoas">
    <div class="mb-3">
        <label>Nome</label>
        <input type="text" class="form-control" v-model="novaPessoa.nome">
    </div>
    <div class="mb-3">
        <label>Sobrenome</label>
        <input type="text" class="form-control" v-model="novaPessoa.sobrenome">
    </div>
    <div class="mb-3">
        <label>Idade</label>
        <input type="text" class="form-control" v-model="novaPessoa.idade">
    </div>
    <button type="submit" class="btn btn-primary" v-on:click="cadastrar">Cadastrar</button>
    {{novaPessoa | json}}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Idade</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item, index) in pessoasVue">

                <th scope="row">{{ index + 1 }}</th>
                <td>{{ item.nome }}</td>
                <td>{{ item.sobrenome }}</td>
                <td>{{ item.idade }}</td>
            </tr>
        </tbody>
    </table>
</div>
@Html.Partial("_UL")